@import "colors";
@import "global";

$padding: 10px;

.form-small, .form-medium, .form-large, .form {
    margin: auto;
}

.form-medium {
    width: 65%;
}

form {
    width: 100%;
    margin-top: 20px;

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"], input[type="password"], input[type="email"], textarea {
        border: 1px solid $gray-light;
        width: 100%;
        margin-bottom: 25px;
        padding: $padding;
    }

    textarea {
        height: 200px;
    }

    input[type="submit"], button[type="submit"] {
        @extend .btn;

        width: 50%;
        text-align: center;
    }


    .remember_me {
        input, label {
            display: inline-block;
        }
    }
}