@import "colors";
@import "breakpoints";

// Width
$content-width-desktop: 960px;
$content-width-tablet: 100%;
$content-width-mobile: 100%;

body, ul, li, a, a:hover, h1, h2, h3, h4, h5, h6 {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #555555;
}

body {
    background-color: $white;
    width: 100%;
    //font-size: 12px;
}

h1 {
    color: $blue-darker;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-nav {

    #header-user {
        ul {
            width: $content-width-tablet;
            @include breakpoint(desktop) {
                width: $content-width-desktop;
                margin: auto;
            }

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            li {
                margin-left: 20px;
            }
        }
    }

    header {
        height: 80px;

        h1 {
            text-align: center;
        }
    }

    nav {
        width: $content-width-tablet;
        @include breakpoint(desktop) {
            width: $content-width-desktop;
            margin: auto;
        }

        ul {
            background-color: $blue-normal;
            display: flex;
            @include breakpoint(desktop) {
                font-size: 2em;
            }

            font-size: 1.3em;

            :hover {
                background-color: $blue-darker;
            }
            li {
                list-style: none;
                flex: 1 1 100%;

                a {
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $blue-darker;

                    &:hover {
                        color: $white;
                    }
                }

                & .fa {
                    margin: 0 5px;
                    @include breakpoint(tablet) {
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}

#content {

    .flash-message {
        margin: 10px 0 10px 0;
        padding: 10px;
        box-sizing: content-box;
        border: 1px solid;
        border-radius: 5px;
        color: $white;

        &.flash-success {
            border-color: darken($flash-success, 10%);
            background-color: $flash-success;
        }

        &.flash-notice {
            border-color: darken($flash-notice, 10%);
            background-color: $flash-notice;
        }

        &.flash-warning {
            border-color: darken($flash-warning, 10%);
            background-color: $flash-warning;
        }

        &.flash-error {
            border-color: darken($flash-error, 10%);
            background-color: $flash-error;
        }
    }

    width: $content-width-tablet;

    @include breakpoint(desktop) {
        width: $content-width-desktop;
        margin: auto;
    }
}

.btn, a.btn {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background-color: $blue-darker;
    color: $white;
    cursor: pointer;

    &:hover {
        background-color: $blue-normal;
        color: $black;
    }
}