@import "colors";
@import "breakpoints";

#banner {

    line-height: 0;

    img {
        width: 100%;
    }
}

#explanation {
    display: flex;
    cursor: default;

    div {
        flex: 1 1 100%;
        background-color: $blue-darker;
        color: $white;
        text-align: center;

        p {
            margin: 0 10px 5px 10px;
            font-size: 1em;
            @include breakpoint(tablet) {
                font-size: 1.4em;
            }
        }

        i {
            padding: 10px;
            font-size: 4em;
            @include breakpoint(tablet) {
                font-size: 7em;
            }
        }
    }
}