{% extends 'base.html.twig' %}

{% block content %}
    <h1>À propos</h1>

    <h2>À l'origine de ce site</h2>
    <p class="justify">
        Il y a plusieurs années, ma femme et moi faisions nos courses toutes les semaines. Toutes les semaines, nous achetions quasiment les mêmes ingrédients,
        par habitude. Et tous les soirs à 19h30 ou 20h, nous ouvrions le refrigérateur en nous demandant ce que nous allions manger.
        Cela finissait souvent en spaghetti carbonara ; bonjour la ligne !
    </p>
    <p class="justify">
        Et puis un jour, nous sommes passés aux menus. L'idée est simple : une feuille représentant la semaine à venir avec les repas du midi et du soir. Et on
        écrit ce qu'on va manger tel ou tel jour. Bien qu'un peu long et contraignant au début, ce système nous a été vraiment bénéfique :
        <ul class="list">
            <li>Nous ne passons plus des heures devant le refrigérateur à savoir quoi faire à manger ;</li>
            <li>Nous mangeons plus équilibré ;</li>
            <li>Nous avons réalisé des économies, car nous n'achetons que ce dont nous avons besoin et ne jetons plus de nourriture.</li>
        </ul>
    </p>
    <p class="justify">
        Enfin en théorie, nous achetions ce dont nous avions besoin. Car savoir qu'on va faire une pizza jeudi prochain n'indique pas les ingrédients à acheter
        pour la faire. Et du coup, nous oubliions quasi systématiquement la mozzarella. Frustrant. Nous sommes quand même restés cinq ou six ans avec ces menus
        imparfaits, et presque toutes les semaines nous oubliions d'acheter quelque chose. Jusqu'au jour où...
    </p>

    <h2>Qui suis-je ?</h2>
    <p class="justify">
        Je m'appelle Jonathan Baudoin et je suis développeur web. Enfin plutôt je le suis devenu. Cela fait plus de dix ans que je développe en PHP, mais c'était
        un simple passe temps. Après des études de cinéma et quelques années comme régisseur pour le cinéma, j'ai été responsable éditorial du feu Site du Zéro
        pendant trois ans et demi. À la suite de cette expérience, j'ai décidé de suivre une formation de développeur web PHP. S'en sont suivis un stage et quelques
        expériences professionnelles, avant que je ne trouve un poste dans une société basée sur Toulouse. Au revoir la région parisienne, ville rose me voilà
        (enfin en vrai j'habite en Ariège, à 30 kilomètres des Pyrénnées) !
    </p>
    <p class="justify">
        Mais revenons-en à nos moutons. L'idée d'améliorer notre système de menus me trottait dans la tête depuis plusieurs années. Je voulais un site qui  fasse
        que nous ne pourrions plus oublier d'acheter des choses. Alors je me suis lancé ! Je suis parti sur un site internet sous Symfony3, mon framework de
        prédilection ; jQuery pour le JavaScript. Plusieurs mois de développement pendant mes pauses déjeuners au travail et <em>tada !</em> le site était prêt.
    </p>
    <p class="justify">
        Notre premier menu date du 29 septembre 2017. Je n'ai véritablement ouvert le site à d'autres personnes que le 11 mai 2018 (jour de mon anniversaire, mais
        cela n'a aucun rapport). Pourquoi avoir attendu tout ce temps ? Il me restait quelques développements triviaux à effectuer, que je repoussais. Et puis je
        voulais être sûr que le site fonctionne correctement. <em>A priori</em> c'est bon !
    </p>
{% endblock %}
