{% extends 'base.html.twig' %}

{% block content %}
    <div id="banner"><img src="http://placehold.it/960x250" /></div>

    <div id="explanation">
        <div id="menu">
            <i class="fa fa-table" aria-hidden="true"></i>
            Créez vos menus à partir de recettes, existantes ou non.
        </div>

        <div id="menu">
            <i class="fa fa-edit" aria-hidden="true"></i>
            Editez votre liste de course créée automatiquement en fonction de vos menus.
        </div>

        <div id="menu">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Faites vos courses l'esprit tranquille !
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
