{% extends 'base.html.twig' %}

{% block content %}
    {#<div id="banner"><img src="http://placehold.it/960x250" /></div>#}

    <div id="explanation">
        <div>
            <i class="fa fa-table" aria-hidden="true"></i>
            <p>Créez vos menus...</p>
        </div>

        <div>
            <i class="fa fa-edit" aria-hidden="true"></i>
            <p>Editez votre liste de course...</p>
        </div>

        <div>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <p>Faites vos courses l'esprit tranquille !</p>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="sass" "assets/css/index.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
