{% extends 'base.html.twig' %}

{% block content %}
    <h1>Participer à MesMenus.fr</h1>

    <p>
        Il existe différentes manières de participer à MesMenus.fr.
    </p>
    <ul class="list">
        <li>La première est tout simplement de l'utiliser, en créant vos menus, vos recettes, et pourquoi pas de les
            partager avec les autres utilisateurs.</li>
        <li>Vous pouvez également parler du site autour de vous afin de le faire connaître.</li>
        <li>Et enfin, vous pouvez participer directement au développement du site. En effet, <a href="https://github.com/JonathanBaudoin/mesmenus">le projet est open source</a> !</li>
    </ul>

{% endblock %}
