@import "../colors";

#menu-choose-date {
    display: flex;

    justify-content: space-around;

    .choose-date {
        .label {
            font-size: 1.3em;
            text-align: center;
        }
    }
}

.table {
    #day {
        width: 50px;
    }

    td.day {
        background-color: $blue-normal;

        &::first-letter {
            text-transform: capitalize;
        }
    }

    .lunch, .dinner {
        width: 50%;
    }
}