@import "../colors";
@import "../breakpoints";

#menu-list {
    @include breakpoint(tablet) {
        display: flex;
        justify-content: space-around;
    }

    .ended {
        color: $flash-error;
    }

    .not-ended {
        color: $flash-success;
    }

    .menu {

        background-color: $gray-light;
        border: 1px solid $gray;
        margin: 10px;
        padding: 10px;

        .menu-date {
            font-weight: bold;
        }

        span {
            display: block;
            text-align: center;
            margin: 10px;
        }

        a {
            margin: 10px;
            color: $blue-darker;
        }

        i {
            font-size: 2em;
        }
    }
}

