@import "../colors";

tbody {
    tr {

        &:hover {
            background-color: inherit !important;
        }

        .recipe {
            border-radius: 3px;
            padding: 3px;
            background-color: $gray-light;
            color: $blue-darker;
            font-weight: bold;

            &:hover {
                background-color: $blue-darker;
                color: $white;
            }
        }

        .lunch, .dinner {

            width: 50%;

            ul {
                li {
                    display: inline-block;
                        padding: 10px;

                    a {
                        padding: 5px;
                    }
                }
            }
        }
    }
}

td.day {
    background-color: $blue-normal;

    &::first-letter {
        text-transform: capitalize;
    }
}