@import "../colors";
@import "../breakpoints";

tbody {
    tr {

        &:hover {
            background-color: inherit !important;
        }

        .recipe {
            border-radius: 3px;
            text-decoration: underline;
            color: $blue-darker;
            font-weight: bold;
        }

        .lunch, .dinner {

            width: 50%;

            ul {
                li {

                    margin: 5px;

                    @include breakpoint(tablet) {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

td.day {
    background-color: $blue-normal;

    &::first-letter {
        text-transform: capitalize;
    }
}