@import "../colors";

tbody {
    tr {
        .recipe {
            border-radius: 3px;
            padding: 3px;
            background-color: $blue-darker;
            color: $white;
        }
    }
}

td.day {
    background-color: $blue-normal;

    &::first-letter {
        text-transform: capitalize;
    }
}