<footer>
    <ul>
        <li><a href="{{ path('app_app_about') }}">{{ 'about'|trans }}</a></li>
        <li><a href="{{ path('app_app_participate') }}">{{ 'participate'|trans }} <i class="fa fa-github"></i></a></li>
    </ul>
</footer>