{% for type, content in app.session.flashBag %}
    <div class="flash-message flash-{{ type }}">
        {% for message in content %}
            {{ message }}
        {% endfor %}
    </div>
{% endfor %}