<nav>
    <ul>
        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Accueil</a></li>
        <li><a href="#"><i class="fa fa-table" aria-hidden="true"></i>Mes menus</a></li>
        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Mes courses</a></li>
    </ul>
</nav>