<nav>
    <ul>
        <li><i class="fa fa-home" aria-hidden="true"></i><a href="#">Accueil</a></li>
        <li><i class="fa fa-table" aria-hidden="true"></i><a href="#">Mes menus</a></li>
        <li><i class="fa fa-shopping-cart" aria-hidden="true"></i><a href="#">Mes courses</a></li>
        <li><a href="#">Test</a></li>
    </ul>
</nav>