@import "../colors";
@import "../breakpoints";

#shopping-list {

    @include breakpoint(tablet) {
        display: flex;
        flex-wrap: wrap;
            justify-content: space-around;
    }

    li.ingredient {
        padding: 5px;
        cursor: pointer;

        a {
            color: #ffffff;
            text-align: center;
        }

        .name {
            font-weight: bold;
        }

        &.flash-success {
            span {
                text-decoration: line-through;
            }
        }

        @include breakpoint(mobile) {

            padding: 10px;

            span {
                display: inline-block;
            }

            .name {
                margin-right: 10px;
            }

            .quantity {
                float: right;
            }
        }

        @include breakpoint(tablet) {
            flex: 0 1 calc(100% * (1/2) - 20px);
            margin-bottom: 10px;
            border-radius: 5px;

            h2 {
                text-align: center;
            }

            span {
                display: block;
            }
        }

        @include breakpoint(desktop) {
            flex: 0 1 calc(100% * (1/4) - 20px);
        }
    }
}