@import "../colors";
@import "../breakpoints";

#add-ingredient {
    margin-top: 20px;

    #add-ingredient-message {
        margin-top: 20px;
    }
}

#add-recipe {
    @include breakpoint(desktop) {
        display: flex;
        justify-content: space-between;
    }

    #fields-recipe {
        width: 100%;

        @include breakpoint(desktop) {
            width: 55%;
            padding-right: 10px;
        }

        #recipe_public_content {
            label {
                display: inline-block;
            }

            input {
                float: right;
            }
        }
    }

    #list-ingredients {
        width: 100%;

        @include breakpoint(desktop) {
            width: 45%;
            min-height: 80px;
            padding-left: 10px;
            border-left: 1px solid $gray;
        }
    }

    .recipe-has-ingredient {
        display: flex;
        width: 100%;
        input {

            &.name {
                width: 40%;
            }
            &.amount {
                width: 18%;
            }
            &.measure-unit {
                width: 30%;
            }
        }
    }
}