@import "../colors";
@import "../breakpoints";

#recipe-list {
    margin-bottom: 20px;
    display: flex;

    @include breakpoint(tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    li {
        display: flex;
        margin-bottom: 10px;

        a {
            display: block;
            border: 1px solid $gray;
            border-radius: 3px;
            padding: 5px;
            text-align: center;

            &:hover {
                background-color: $blue-lighter;
            }
        }

        span {
            display: block;
        }

        .recipe-title {
            color: $blue-darker;
            font-size: 1.4em;
        }

        .recipe-author {
            font-size: 0.8em;
        }

        @include breakpoint(tablet) {
            flex: 0 1 calc(100% * (1/2) - 20px);
        }

        @include breakpoint(desktop) {
            flex: 0 1 calc(100% * (1/4) - 20px);
        }
    }
}