@import "../colors";
@import "../breakpoints";

#recipe-list {
    @include breakpoint(tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    li {
        border: 1px solid $gray;
        border-radius: 3px;
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        text-align: center;

        &:hover {
            background-color: $blue-lighter;
        }

        a {
            display: block;
        }

        .recipe-author {
            font-size: 0.8em;
        }

        @include breakpoint(tablet) {
            flex: 0 1 calc(100% * (1/2) - 20px);

            h2 {
                text-align: center;
            }
        }

        @include breakpoint(desktop) {
            flex: 0 1 calc(100% * (1/4) - 20px);
        }
    }
}