/* line 13, assetic_compassAWvgbZ.scss */
body, ul, li, a, a:hover {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* line 20, assetic_compassAWvgbZ.scss */
body {
  background-color: #ffffff;
  width: 100%;
}

/* line 26, assetic_compassAWvgbZ.scss */
h1 {
  color: #3c7d9c;
}

/* line 31, assetic_compassAWvgbZ.scss */
#header-nav header {
  height: 80px;
}
/* line 34, assetic_compassAWvgbZ.scss */
#header-nav header h1 {
  text-align: center;
}
/* line 41, assetic_compassAWvgbZ.scss */
#header-nav nav ul {
  width: 960px;
  margin: auto;
  background-color: #b9def0;
  display: flex;
  font-size: 2em;
}
/* line 47, assetic_compassAWvgbZ.scss */
#header-nav nav ul :hover {
  background-color: #3c7d9c;
}
/* line 51, assetic_compassAWvgbZ.scss */
#header-nav nav ul li {
  list-style: none;
  flex: 1 1 100%;
}
/* line 58, assetic_compassAWvgbZ.scss */
#header-nav nav ul li a {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 64, assetic_compassAWvgbZ.scss */
#header-nav nav ul li a:hover {
  color: #ffffff;
}
/* line 69, assetic_compassAWvgbZ.scss */
#header-nav nav ul li .fa {
  margin: 0 10px;
}

/* line 78, assetic_compassAWvgbZ.scss */
#content {
  width: 960px;
  margin: auto;
}
