/* line 9, assetic_compassY7ZZE9.scss */
body, ul, li, a, a:hover {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #555555;
}

/* line 17, assetic_compassY7ZZE9.scss */
body {
  background-color: #ffffff;
  width: 100%;
}

/* line 23, assetic_compassY7ZZE9.scss */
h1 {
  color: #3c7d9c;
}

/* line 30, assetic_compassY7ZZE9.scss */
#header-nav #header-user ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media only screen and (min-width: 992px) {
  /* line 30, assetic_compassY7ZZE9.scss */
  #header-nav #header-user ul {
    width: 960px;
    margin: auto;
  }
}
/* line 41, assetic_compassY7ZZE9.scss */
#header-nav #header-user ul li {
  margin-left: 20px;
}
/* line 47, assetic_compassY7ZZE9.scss */
#header-nav header {
  height: 80px;
}
/* line 50, assetic_compassY7ZZE9.scss */
#header-nav header h1 {
  text-align: center;
}
/* line 55, assetic_compassY7ZZE9.scss */
#header-nav nav {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  /* line 55, assetic_compassY7ZZE9.scss */
  #header-nav nav {
    width: 960px;
    margin: auto;
  }
}
/* line 62, assetic_compassY7ZZE9.scss */
#header-nav nav ul {
  background-color: #b9def0;
  display: flex;
  font-size: 1.3em;
}
@media only screen and (min-width: 992px) {
  /* line 62, assetic_compassY7ZZE9.scss */
  #header-nav nav ul {
    font-size: 2em;
  }
}
/* line 71, assetic_compassY7ZZE9.scss */
#header-nav nav ul :hover {
  background-color: #3c7d9c;
}
/* line 74, assetic_compassY7ZZE9.scss */
#header-nav nav ul li {
  list-style: none;
  flex: 1 1 100%;
}
/* line 78, assetic_compassY7ZZE9.scss */
#header-nav nav ul li a {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3c7d9c;
}
/* line 85, assetic_compassY7ZZE9.scss */
#header-nav nav ul li a:hover {
  color: #ffffff;
}
/* line 90, assetic_compassY7ZZE9.scss */
#header-nav nav ul li .fa {
  margin: 0 5px;
}
@media only screen and (min-width: 768px) {
  /* line 90, assetic_compassY7ZZE9.scss */
  #header-nav nav ul li .fa {
    margin: 0 10px;
  }
}

/* line 102, assetic_compassY7ZZE9.scss */
#content {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  /* line 102, assetic_compassY7ZZE9.scss */
  #content {
    width: 960px;
    margin: auto;
  }
}
